= simple_form_for(customer, {:html => { :class => 'form-horizontal'}}) do |f|
  = f.input :email
  = render :partial => 'customers/customer_info',:locals => {:f => f }
    
  %div.form-actions
    = f.submit :class => 'btn btn-primary'