Hanes::Application.configure do
  config.action_mailer.raise_delivery_errors = true
  config.action_mailer.delivery_method = :smtp
  config.action_mailer.smtp_settings = {
    :address              => "smtp.chl.cz",
    :port                 => 587,
    :domain               => 'virtualmaster.com',
    :user_name            => '',
    :password             => '',
    :authentication       => 'plain',
    :perform_deliveries    => true,
    :enable_starttls_auto => true  }
end